{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head style="background-color: black">
        <link href="{% static 'filetransfer/styles.css' %}" rel="stylesheet">
    </head>
    <body style="background-color: black">
        <div>
            <h1>Welcome to the FileTransfer site</h1>
            <a href="/">Main site</a>
            <a href="/filetransfer">Home</a>
            <a href="/filetransfer/upload">Upload Files</a>
        </div>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>

