{% extends "layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ArchonsWebsite</title>
    </head>
    <body>
        <h1 class="title">ArchonsWebsite</h1>
        <p>This is the website you are on right now, I made this to explore more frontend development, and to have a place to showcase my work.</p>
        <p>Created 05/08/2022</p>
        <div class="buttonRow">
            <a class="returnButton" href="https://github.com/TheArchons/ArchonsWebsite">View on github</a>
        </div>
        <div class="buttonRow">
            <a class="returnButton" href="/projects">Return</a>
        </div>
    </body>
</html>
{% endblock %}