{% extends "layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crinlist</title>
    </head>
    <body>
        <h1 class="title">Crinlist</h1>
        <img src="{% static 'images/CrinlistResized.png' %}"/>
        <p>Due to <a src="https://crinacle.com/rankings/iems/">Crinacle's IEM ranking list</a> being slow, I decided to make a local version in the command line. Written in python, it is much faster than an HTML table with over 1000 elements, and provides more sorting and search features. I learned how to prase HTML in this project.</p>
        <p>Created 17/02/2022</p>
        <div class="buttonRow">
            <a class="returnButton" href="https://github.com/TheArchons/Crinlist">View on github</a>
        </div>
        <div class="buttonRow">
            <a class="returnButton" href="/projects">Return</a>
        </div>
    </body>
</html>
{% endblock %}