{% extends "layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LeetCode</title>
    </head>
    <body>
        <h1 class="title">LeetCode</h1>
        <p>This is a repository of all the LeetCode questions I have worked on. I made this project to learn more about data structures and algorithms, and learn what interview questions looked like.</p>
        <p>Created 23/01/2021, published to github 26/12/2021</p>
        <div class="buttonRow">
            <a class="returnButton" href="https://github.com/TheArchons/Leetcode">View on github</a>
        </div>
        <div class="buttonRow">
            <a class="returnButton" href="/projects">Return</a>
        </div>
    </body>
</html>
{% endblock %}