{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>
    <body style="background-color:rgb(13,17,23)">
        <div class="header">
            <a href="/" id="home" class="navlinks">Archons</a>
            <a href="/contact" class="navlinks">Contact</a>
            <a href="/projects" class="navlinks">Projects</a>
            <a href="/whoami" class="navlinks">Who am I?</a>
            <hr>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>