{% extends "layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>FileTransfer</title>
    <script src="{% static 'socials.js' %}"></script>
</head>
<body>
    <h1 class="title">Socials</h1>
    <p>Although I am not active on social media or have a very social life, I have listed a few of my socials and contacts below.</p>
    <div class="socialsRow">
        <a onclick="discordAlert()" class="socialsButton">Discord</a>
        <a href="https://github.com/TheArchons" class="socialsButton">Github</a>
    </div>
    <div class="socialsRow">
        <a class="socialsButton">Reddit</a>
        <a href="mailto:alexli9138@gmail.com" class="socialsButton">Email</a>
    </div>
</body>
{% endblock %}