a, p, h1, table {
    font-family:Verdana,sans-serif;
    color: white;
    font-size: 1.3vw;
}

.title {
    font-size:3vw;
    font-weight:bold;
    color:white;
    text-align: center;
}

p {
    text-align: center;
}

.largeButton {
    font-size: 2.5vw;
    background-color: rgb(32, 33, 36);
    border: 2px;
    color: white;
    padding: 4% 13%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 1%;
    width: 45%;
}

.largeButton:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.buttonRow {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnButton {
    font-size: 2vw;
    background-color: rgb(32, 33, 36);
    border: 2px;
    color: white;
    padding: 2% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 1%;
    width: 20%;
    justify-content: center;
}

.returnButton:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sourceLink {
    text-decoration: underline;
}

.sourceLink:hover {
    color: lightblue;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#inlineImage {
    display: inline;
}

.kinestheticColor {
    color: rgb(72, 237, 150);
}

.visualColor {
    color: rgb(192, 105, 210);
}

.auditoryColor {
    color: rgb(174, 194, 211);
}

.surveyColor1 {
    color: rgb(161, 36, 16);
}

.surveyColor2 {
    color: rgb(12, 121, 180);
}

.surveyColor3 {
    color: rgb(160, 0, 0);
}

.surveyColor4 {
    color: rgb(193, 103, 0);
}

#computerSurveyColor {
    color: rgb(15, 156, 82);
}