h1, input, p, body, .navitem {
    color: white;
}

h1, h2, h3 {
    margin-left: 0.2em;
}

a {
    margin-left: 0.4em;
}

form {
    margin-left: 0.5em;
}

.btn-outline-dark {
    border: 2px solid white;
    background-color: black;
    color: white;
}

.btn-outline-dark:hover {
    background-color: white;
    color: black;
}

.navitem {
    font-size: 1.3vw;
    margin-bottom: 0;
    border-bottom: 0 solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0.2em;
}

.submit-button {
    margin-top: 1em;
    background-color: white;
    color: black;
    font-size: 1vw;
}

.submit-button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.download-button {
    margin-left: 0.5em;
}

#start-upload-button {
    margin-top: 0.5em;
    font-size: 1vw;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.page-footer-text {
    font-size: 1vw;
    text-align: center;
}