h1, input, p, body, .navitem {
    color: white;
}

h1, h2 {
    margin-left: 0.2em;
}

a {
    margin-left: 0.4em;
}

form {
    margin-left: 0.5em;
}

.navitem {
    color: white;
    font-size: 1.3vw;
    margin-bottom: 0;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0.2em;
}

.btn-outline-dark {
    border: 2px solid grey;
    background-color: black;
}

.submit-button {
    margin-top: 1em;
    background-color: white;
    color: black;
    font-size: 1vw;
}

.download-button {
    margin-left: 0.5em;
}