<h1>Hello, Rails!</h1>

<ul>
    <% @blocks.each do |block| %>
        <li><%= block.title %> - <%= block.body %></li>
    <% end %>
</ul>

<ul>
    <% @profile_entries.each do |profile_entry| %>
        <li><%= profile_entry.title %> - <%= profile_entry.body %></li>
    <% end %>
</ul>