{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ArchonsWebsite</title>
    </head>
    <body>
        <h1 class="title">ArchonsWebsite</h1>
        <p>This is the website you are on right now, I made this to explore more frontend development, and to have a place to showcase my work. I also learned how to deploy Django websites into production with <a class="sourceLink" href="https://gunicorn.org/">Gunicorn</a>, <a class="sourceLink" href="https://nginx.org/en/">nginx</a>, and <a href="https://www.cloudflare.com/" class="sourceLink">Cloudflare</a></p>
        <p>Created 05/08/2022</p>
        <div class="buttonRow">
            <a class="returnButton" href="https://github.com/TheArchons/ArchonsWebsite">View on github</a>
        </div>
        <div class="buttonRow">
            <a class="returnButton" href="/projects">Return</a>
        </div>
    </body>
</html>
{% endblock %}