{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Competitive Programming</title>
    </head>
    <body>
        <h1 class="title">Competitive Programming</h1>
        <p>This is a repository of all of my competitive programming answers, including questions from the <a class="sourceLink" href="https://cemc.uwaterloo.ca/contests/ccc-cco.html">Waterloo Canadian Computing Competition</a>, and the <a class="sourceLink" href="http://usaco.org/">USA Computing Olympiad</a>. With this, I learned Data Structures and Algorithms, using C++ and Python.</p>
        <p>Creation date unknown, most likely in 2020 or 2021. Published to github on 10/11/2021</p>
        <div class="buttonRow">
            <a class="returnButton" href="https://github.com/TheArchons/Competitive-Programming">View on github</a>
        </div>
        <div class="buttonRow">
            <a class="returnButton" href="/projects">Return</a>
        </div>
    </body>
</html>
{% endblock %}