{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FileTransfer</title>
    </head>
    <body>
        <h1 class="title">FileTransfer</h1>
        <img src="{% static 'images/FileTransfer.png' %}"/>
        <p>I created this website because I wanted a fast and private site to share files. I learned how to host websites on <a href="https://en.wikipedia.org/wiki/Amazon_Web_Services" class="sourceLink">Amazon Web Services (AWS)</a>, and a bit more about Django</p>
        <p>Created 30/05/2022</p>
        <div class="buttonRow">
            <a class="returnButton" href="https://github.com/TheArchons/FileTransfer">View on github</a>
        </div>
        <div class="buttonRow">
            <a class="returnButton" href="/projects">Return</a>
        </div>
    </body>
</html>
{% endblock %}