{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Waterloo CCC</title>
    </head>
    <body>
        <h1 class="title">Waterloo CCC</h1>
        <p>This is a repository of all of my <a class="sourceLink" href="https://cemc.uwaterloo.ca/contests/ccc-cco.html">Waterloo Canadian Computing Competition</a> questions. With this, I learned C++, a bit of rust, competitive programming, and advanced knowledge of Python.</p>
        <p>Creation date unknown, most likely in 2020 or 2021. Published to github on 10/11/2021</p>
        <div class="buttonRow">
            <a class="returnButton" href="https://github.com/TheArchons/Waterloo-CCC">View on github</a>
        </div>
        <div class="buttonRow">
            <a class="returnButton" href="/projects">Return</a>
        </div>
    </body>
</html>
{% endblock %}