{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>Who am I?</title>
</head>
<body>
    <h1 class="title">Birth</h1>
    <h3 class="date">2007-01-23</h3>
    <p>I was born in Gatineau, Quebec, at l'Hôpital de Gatineau. Gatineau city is located across the river from Ottawa, and you can even see Parliament Hill from the city.</p>
    <div class="img-group">
        <img src="https://safe.thearchons.xyz/bGI2PbkCnFLwzglcSZFKjmH0klvbYDQe.png" alt="Photo of l'Hôpital de Gatineau." width="40%">
        <p>Photo of l'Hôpital de Gatineau.</p>
    </div>
    <div class="img-group">
        <img src="https://safe.thearchons.xyz/i7tMcjpzixEuWCxNR1nexLCadPVE7PxV.png" alt="Photo of l'Hôpital de Gatineau on Google Maps." width="40%">
        <p>Photo of l'Hôpital de Gatineau on Google Maps.</p>
    </div>
    <div class="buttonRow">
        <a class="returnButton" href="/whoami">Return</a>
    </div>
</body>
{% endblock %}