{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>Who am I?</title>
</head>
<body>
    <h1 class="title">Canada-Wide Science Fair</h1>
    <h3 class="date">2022-05-16</h3>
    <p>I participated in the Canada-Wide Science Fair, and won bronze. It was unfortunate that it was during COVID, so the competition was virtual, rather than in-person.</p>
    <div class="buttonRow">
        <a class="returnButton" href="/whoami">Return</a>
    </div>
</body>
{% endblock %}