{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>Who am I?</title>
</head>
<body>
    <h1 class="title">Joining Github</h1>
    <h3 class="date">2018-06-05</h3>
    <p>I joined GitHub on this day. GitHub is a platform for writing and sharing code, marking the day my interest in programming started. This has led me to write many websites/applications, including this very website.</p>
    <div class="buttonRow">
        <a class="returnButton" href="/whoami">Return</a>
    </div>
</body>
{% endblock %}