{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>Who am I?</title>
</head>
<body>
    <h1 class="title">picoCTF</h1>
    <h3 class="date">2022-03-16</h3>
    <p>This was my first (ethical) hacking competition hosted by Carnegie Mellon University, which a friend invited me to. I ended up doing pretty well, scoring 10th in the Canadian Highschool Division. This led me to have an interest in cybersecurity. Our team still participates in competitions today. During the spring break of 2024, we placed 19th in the amateursCTF competition.</p>
    <div class="img-group">
        <img src="https://safe.thearchons.xyz/NLliz8ui.png" alt="Photo of the picoCTF Scoreboard" width="60%">
        <p>Photo of the picoCTF 2022 Scoreboard, where we placed 10th.</p>
    </div>
    <div class="buttonRow">
        <a class="returnButton" href="/whoami">Return</a>
    </div>
</body>
{% endblock %}