{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>Who am I?</title>
</head>
<body>
    <h1 class="title">SAIL Highschool</h1>
    <h3 class="date">2020-09-04</h3>
    <p>This was the day I joined the STEAM program, SAIL's in-person highschool program. This highschool was located in the Surrey School District Education Centre.</p>
    <div class="img-group">
        <img src="https://safe.thearchons.xyz/YXNAl5wUofP4kWMZ5cKEOZS58E8UMY1f.png" alt="Photo of the school." width="70%">
        <p>Photo of the school.</p>
    </div>
    <div class="buttonRow">
        <a class="returnButton" href="/whoami">Return</a>
    </div>
</body>
{% endblock %}