{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>Who am I?</title>
</head>
<body>
    <h1 class="title">SAIL</h1>
    <h3 class="date">2017-09-04</h3>
    <p>On this day, I joined the elementary SAIL program at Brookside Elementary. This program was introduced to me by a good friend. Unbeknownst to me, I would stay in the program for another six years.</p>
    <div class="img-group">
        <img src="https://safe.thearchons.xyz/f8X6XHVX2uP735shzk4Kv3FrsmYBKtCR.png" alt="Photo of Brookside Elementary." width="40%">
        <p>Photo of Brookside Elementary.</p>
    </div>
    <div class="buttonRow">
        <a class="returnButton" href="/whoami">Return</a>
    </div>
</body>
{% endblock %}