{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Archons Website</title>
        <script src="{% static 'ArchonsWebsite/index.js' %}"></script>
    </head>
    <body>
        <h1 class="title">About me</h1>
        <p>I am a <span id="age"></span> year old developer and gamer in Vancouver, Canada. <br> I usually use Python and C++, but I am familiar with other languages.</p> <!-- Definitely not stolen from Ottomated -->
    </body>
</html>
{% endblock %}