{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'ArchonsWebsite/styles.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'ArchonsWebsite/images/favicon.ico' %}"/>
    </head>
    <body style="background-color:rgb(13,17,23)">
        <div class="header">
            <a href="/" id="home" class="navlinks">Archons</a>
            <a href="/socials" class="navlinks">Socials</a>
            <a href="/projects" class="navlinks">Projects</a>
            <a href="/whoami" class="navlinks">Who am I?</a>
            <a href="/filetransfer" class="navlinks">File Transfer</a>
            <hr>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>