{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>FileTransfer</title>
</head>
<body>
    <h1 class="title">Socials</h1>
    <p>Although I am not active on social media or have a very social life, I have listed a few of my socials and contacts below.</p>
    <div class="buttonRow">
        <a href="" onclick="alert('Joseph Smith#0557');" class="largeButton">Discord</a>
        <a href="https://github.com/TheArchons" class="largeButton">Github</a>
    </div>
    <div class="buttonRow">
        <a href="https://www.reddit.com/user/TheArchonStrikes" class="largeButton">Reddit</a>
        <a href="mailto:alexli9138@gmail.com" class="largeButton">Email</a>
    </div>
    <div class="buttonRow">
        <a onclick = "window.location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ';" class="largeButton">TikTok</a> <!--Thanks 0x41*32 for the idea-->
    </div>
</body>
{% endblock %}