{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>Socials</title>
</head>
<body>
    <h1 class="title">Socials</h1>
    <div class="buttonRow">
        <a href="" onclick="alert('Joseph Smith#0557');" class="largeButton">Discord</a>
        <a href="https://github.com/TheArchons" class="largeButton">Github</a>
    </div>
    <div class="buttonRow">
        <a href="https://www.reddit.com/user/TheArchonStrikes" class="largeButton">Reddit</a>
        <a href = "" onclick="alert('archons@thearchons.xyz');" class="largeButton">Email</a>
    </div>
    <div class="buttonRow">
        <a href="https://tiktok.com/@archons" onclick = "window.location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'; return false;" class="largeButton">TikTok</a> <!--Thanks 0x41*32 for the idea-->
    </div>
</body>
{% endblock %}