{% extends "ArchonsWebsite/layout.html" %}

{% block body %}
{% load static %}
<head>
    <title>Who am I?</title>
</head>
<body>
    <h1 class="title">Who am I?</h1>
    <p>This page was created for an assignment in Career Life Connections 12</p>
    <div class="buttonRow">
        <a href="birth" class="largeButton">Birth - 2007</a>
    </div>
    <div class="buttonRow">
        <a href="vancouver" class="largeButton">Moving to Vancouver - 2008</a>
    </div>
    <div class="buttonRow">
        <a href="elementary" class="largeButton">Elementary - 2012</a>
    </div>
    <div class="buttonRow">
        <a href="piano" class="largeButton">Piano - 2015</a>
    </div>
    <div class="buttonRow">
        <a href="sail" class="largeButton">Sail - 2017</a>
    </div>
    <div class="buttonRow">
        <a href="github" class="largeButton">Joining Github - 2018</a>
    </div>
    <div class="buttonRow">
        <a href="sailhs" class="largeButton">Sail Highschool - 2020</a>
    </div>
    <div class="buttonRow">
        <a href="picoCTF" class="largeButton">picoCTF - 2022</a>
    </div>
    <div class="buttonRow">
        <a href="cwsf" class="largeButton">Canada-Wide Science Fair - 2022</a>
    </div>
    <div class="buttonRow">
        <a href="sa" class="largeButton">Science Academy - 2023</a>
    </div>
    <div class="buttonRow">
        <a href="future" class="largeButton">Future</a>
    </div>
</body>
{% endblock %}

2023-2024 gr11
2022-2023 gr10
2021-2022 gr9
2020-2021 gr8
2019-2020 gr7
2018-2019 gr6
2017-2018 gr5
2016-2017 gr4
2015-2016 gr3
2014-2015 gr2
2013-2014 gr1
2012-2013 k